<h1>Input Karyawan</h1>
<hr>
<form action="/karyawan/proses-insert" method="post">
    <label>Full name</label>
    <input type="text" name="form_full_name" id="full_name">
    <br><br>

    <label>Gender</label>
    <input type="radio" name="form_full_name" id="gender_l" value="L">
    <label>Laki-laki</label>
    <input type="radio" name="form_full_name" id="gender_p" value="P">
    <label>Perempuan</label>
    <br><br>

    <label>Address</label>
    <textarea name="form_address" id="address" cols="20" rows="5"></textarea>
    <br><br>

    <label>Nomor Induk Pegawai (NIP)</label>
    <input type="text" name="form_nip" id="nip">
    <br><br>

    <button type="submit">Save</button>
</form>