<h1>Contact</h1>
<hr />
Instagram : <%= ig %> <br />
Whatsapp : <%= wa %> <br />
No. Telp : <%= no %> <br />
Line : <%= line %> <br />
<hr />
<hr />
<a href="/profile">
  <button>Profile</button>
</a>
<br />
<a href="/contact">
  <button>Contact</button>
</a>

<style>
  button {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 20px;
  }
</style>
